﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="/Content/bootstrap.css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="/Content/style.css" />
    @Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
    <script src="/Scripts/angular.js"></script>
    <script src="~/Scripts/smart-table.min.js"></script>

	@Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>
	@RenderSection("scripts", required: false)

</head>
<body>

	<div class="container-fluid body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Net-Inspect</p>
		</footer>
	</div>


</body>
</html>
