﻿body {
  padding-top: 50px;
  padding-bottom: 20px; }

.pagination {
    display: inline-block;
}
.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

