﻿@section Scripts {
	<script src="/Content/app.js"></script>
    <script src="~/Content/common.services.js"></script>
    <script src="~/Content/dataAccessServices.js"></script>
    <script src="~/Content/reportController.js"></script>
}

<div ng-app="Report" ng-controller="ReportController as rpt">
	
	<h3>{{rpt.title}}</h3>
    
    <table st-table="rpt.displayedCollection" st-safe-src="rpt.qpldata" class="table table-condensed">
            <thead>
            <tr class="active">
                <td>Show</td>    
                <td>
                    <select>
                        <option></option>
                        <option>ALL</option>
                    </select>
                </td>    
                <td></td>                  
                <td colspan="11">
                    <div class="row">
                        <div class="col-xs-6 col-md-4 pull-right">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." id="txtSearch"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>    
            </tr>
            <tr class="active">

                <td st-sort="PartNumber" st-sort-default="true">Part Number</td>
                <td st-sort="PartRevision">Part<br/>Revision</td>
                <td st-sort="PartName">Part<br/>Name</td>
                <td st-sort="ToolDieSetNumber">Tool Die Set<br/>Number</td>
                <td st-sort="Qpl">QPL</td>
                <td st-sort="OpenPo">Open Po</td>
                <td st-sort="PartJurisdiction">Part<br/>Jurisdiction</td>
                <td st-sort="PartClassification">Part<br/>Classification</td>
                <td st-sort="SupplierCompanyName">Supplier<br/>Company Name</td>
                <td st-sort="SupplierCompanyCode">Supplier<br/>Company Code</td>
                <td st-sort="Ctq">CTQ</td>
                <td st-sort="QplLastUpdatedBy">QPL Last<br/>Updated By</td>
                <td st-sort="QplLastUpdatedDate">QPL Last<br/>Updated Date</td>
                <td st-sort="QplExipreDate">QPL<br/>Expire Date</td>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="a in rpt.displayedCollection">                        
                <td>{{a.PartNumber}}</td>
                <td>{{a.PartRevision}}</td>
                <td>{{a.PartName}}</td>
                <td>{{a.ToolDieSetNumber}}</td>                
                <td>{{a.Qpl==true ? 'Yes' : 'No'}}</td>
                <td>{{a.OpenPo==true ? 'Yes' : 'No'}}</td>                
                <td>{{a.PartJurisdiction}}</td>
                <td>{{a.PartClassification}}</td>
                <td>{{a.SupplierCompanyName}}</td>
                <td>{{a.SupplierCompanyCode}}</td>
                <td>{{a.Ctq==true ? 'Yes' : 'No'}}</td>
                <td>{{a.QplLastUpdatedBy}}</td>
                <td>{{a.QplLastUpdatedDate  | date:'M/d/yyyy'}}</td>
                <td>{{a.QplExipreDate  | date:'M/d/yyyy'}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="active">               
                <td colspan="14">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="rpt.fristPage()" ng-disabled="rpt.page==1">
                                    <i class="fa fa-fast-backward" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-default" ng-click="rpt.previousPage()" ng-disabled="rpt.page==1">
                                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-default" ng-click="rpt.nextPage()"  ng-disabled="rpt.page==rpt.totalpage">
                                    <i class="fa fa-step-forward" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-default" ng-click="rpt.lastPage()" ng-disabled="rpt.page==rpt.totalpage">
                                    <i class="fa fa-fast-forward" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            
                            <select ng-model="rpt.pagesize" ng-change="rpt.page=1" class="form-control" style="max-width: 70px;display: inline-block;">
                                <option ng-repeat="p in rpt.pageoptions" ng-selected="rpt.pagesize == p.value" value="{{p.value}}">{{p.label}}</option>
                            </select>
                            <div style="display: inline-block;">items per page</div>
                        </div>
                        
                        <div class="col-md-2">
                            Page : {{rpt.page}} of {{rpt.totalpage}}
                        </div>
                        <div class="col-md-5">
                            <a href="" ng-click="rpt.getQplData()" style="padding-left: 5px;">
                                <i class="fa fa-refresh pull-right" aria-hidden="true"></i>
                            </a>
                            
                            <div class="pull-right">
                                {{rpt.pagesize * (rpt.page-1)+1}} - {{rpt.page * rpt.pagesize>rpt.totalrow?rpt.totalrow:rpt.page * rpt.pagesize}} of {{rpt.totalrow}} items
                            </div>



                            
                        </div>                            
                        
                    </div>
                    
                </td>
            
            </tr>
            </tfoot>
        </table>
    
</div>